[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "==2.2.5"
django-seed = "*"
django-dotenv = "*"
eb = "*"
awsebcli = "*"
whitenoise = "==2.0.6"

[dev-packages]
black = "*"
awsebcli = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
