{%load on_favs%}
<div class="w-1/5">
  <div class=" mb-6 px-2">
    <a href="{% url 'books:book' book.pk %}">
      <div class="flex flex-col"">
        <div class="h-64 bg-cover bg-center rounded-lg mb-2 " style="background-image: url({{book.cover_image.url}});"></div>
        <span class="text-lg font-bold	">{{book.title}}</span>
        <div class="flex">
        <div class="flex flex-col">
        <span class="text-sm mr-1" >{{book.year}}</span>
        <span class="text-xs mr-1"> 평점 <i class="fas fa-star text-red-500 text-xs mr-1"></i>{{book.rating}}</span>
        </div>
        <div class="flex justify-end w-full items-center">
          {%on_favs book "books" as on_favs_boolean %}
          {% if user.is_authenticated %}
          {% if on_favs_boolean %}
          <a class="focus:outline-none	" href="{%url 'favs:toggle' book.pk %}?type=book&action=remove&next={{ request.path }}">
          <button class="focus:outline-none bg-red-500 hover:bg-red-700 text-white font-bold h-8 px-4  mr-8 rounded-full"><i class="fas fa-heart"></i></button>   
          </a>
          {%else%}
         <a class="focus:outline-none	" href="{%url 'favs:toggle' book.pk %}?type=book&action=add&next={{ request.path }}">
         <button class="focus:outline-none bg-red-500 hover:bg-red-700 text-white font-bold h-8 px-4  mr-8 rounded-full">Add to Like!</button>   
         </a>
         {% endif %}
         {% endif %}
        </div>
        </div>
      </div>
    </a>
    
  </div>

</div>